@model FactoryWebSite.Models.employee
   
   
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddShift</title>
</head>
<body>
    <div>
        <h2> hello @ViewBag.username !</h2><br />
        <form action="/Employees/GetNewShift" method="post">
            Pick a shift from the list: @Html.DropDownList("pick a shift", new SelectList(ViewBag.Shifts, "ID", "ShiftDate"))<br />
            Choose employee By ID: @Html.EditorFor(x => x.ID) <br />
            <input type="submit" value="save" />
        </form>
    </div>
</body>
</html>
