@model FactoryWebSite.Models.department
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditDep</title>
</head>
<body>
    <div>
        <h3>change Department Data</h3>
        <form action="/Department/GetUpdatedDep" method="post">
            Department ID: @Html.EditorFor(x => x.ID)<br />
            Department Name : @Html.EditorFor(x => x.DepName)<br />
            Manager : @Html.EditorFor(x => x.Manager)<br />
            <input type="submit" value="Update" />



        </form>
    </div>
</body>
</html>
