
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>HomeMenu</title>
</head>
<body>
    <div> 
        Welcome to Factory Home Page @ViewBag.username!!
        <br/>
        @Html.ActionLink("Employees", "Employees","Employees");<br/>
        @Html.ActionLink("Shifts", "Shifts", "Shift");<br/>
        @Html.ActionLink("Department","Departments","Department" )
    </div>
</body>
</html>
